.projetos{
  flex: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  h2{
    font-size: 5rem;
    margin: 2rem 0;
  }
  .cardContainer{
    display: flex;
    flex-wrap: wrap;   
    width: 100%;
    height: 100%;
    max-width: 120rem;
    max-height: 53.5rem;
    overflow: hidden;
    overflow-y: auto;
    justify-content: center;
    align-items: flex-start; 
    .cardContent{
      position: relative;
      flex: 30%;
      display: flex;
      flex-direction: row;
      flex-flow: row wrap;
      height: 35rem;
      margin: 1rem;
      justify-content: center;
      align-items: flex-start;
      overflow: hidden;
      &:hover{
        .divlogo{
          transform: scale(1.1);
        }
        .cardText{
          ul{
            .logohtml{
              color: #f06529;
            }
            .logocss{
              color: #264de4;
            }
            .logosass{
              color: #cc6699;
            }
            .logojavas{
              color: #f0db4f;
            }
          }
        }
      }
      .cardText{
        display: flex;
        flex-flow: row wrap;
        flex: 100%;        
        width: 100%;
        height: 20rem;
        background: #606060;
        margin-top: -5rem;
        z-index: 3;
        h4{
          flex: 100%;
          font-size: 4rem;
          text-align: center;
          margin-top: -8rem;
        }
        ul{
          flex: 100%;
          background: #fff;
          width: 100%;
          height: 2.5rem;
          font-size: 4rem;
          display: flex;
          text-align: center;
          align-items: center;
          justify-content: flex-end;
          li{
            color: #222;
            margin: 0 0.5rem;
            margin-bottom: -0.3rem;
            transition: all .3s ease;
          }
        }
      }
      .divlogo{
        flex: 100%;
        background-position: center;
        background-size: contain;
        background-repeat:  no-repeat;
        height: 30rem;
        width: 100%;      
        margin-top: -5rem;
        transition: all .3s ease;
      }
      .divgod{
        background-image: url('../../images/logogod.jpg');      
      }
      .divpoke{
        background-image:  url("../../images/pokelogo.jpg");      
      }         
    }
  }
  .carrossel{
    display: flex;
    align-items: center;
    width: 100%;
    height: 30rem;
    cursor: grab;
    overflow: hidden;
    .inner{
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #fff;
      .tituloCarrossel{
        background: blue;
        width: 100%;
        display: flex;
        justify-content: space-around;
        .nomeDoProjeto{
          font-size: 3rem;
        }
      }
      .imageCarrossel{
        display: flex;
        .card{
          min-height: 20rem;
          min-width: 35rem;
          padding: 2rem;
        }
      }      
    }
  }  
}