.projetos{
  flex: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  h2{
    font-size: 5rem;
    margin: 2rem 0;
  }
  .cardContainer{
    display: flex;
    flex-wrap: wrap;
    background: #606060;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 120rem;
    max-height: 53.5rem;
    overflow: hidden;
    justify-content: space-around;   
    .cardContent{
      flex: 25%;
      height: 25rem;
      background: #fff;
      overflow: hidden;
      margin: 3rem 1rem;
      img{
        width: 30rem;
      }
    }
  }
  .carrossel{
    display: flex;
    align-items: center;
    width: 100%;
    height: 30rem;
    cursor: grab;
    overflow: hidden;
    .inner{
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #fff;
      .tituloCarrossel{
        background: blue;
        width: 100%;
        display: flex;
        justify-content: space-around;
        .nomeDoProjeto{
          font-size: 3rem;
        }
      }
      .imageCarrossel{
        display: flex;
        .card{
          min-height: 20rem;
          min-width: 35rem;
          padding: 2rem;
        }
      }      
    }
  }  
}