#sobreMimId{
  flex: 100%;
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  max-height: 62.7rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  .foteste{
    flex: 40%;
    max-height: 39rem;
    position: relative;
    overflow: hidden;
    img{
      width: 200rem;
    }
  }
  .sobreMim{
    flex: 60%;
    height: 100%;
    max-height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;    
    .titleSobreMim{
      margin-bottom: 1rem;
      margin-top: 1.5rem;
      span{
        margin: 0 0 0 -30rem;
      }
      a{
        cursor: pointer;
        h2{
          font-size: 6rem;
          text-align: center;
          color: var(--color-Btn-text);
          span{
            margin-left: 1rem;
          }
        } 
      }       
    }
    .h3SobreMim{
      margin: 2rem;
      h3{
        font-size: 3rem;
        text-align: center;
        color: var(--color-Btn-text);
      }
      span{
        margin-left: -50rem;
      }
    }
    .paragrafoSobreMim{
      margin-bottom: .5rem;
      p{
        color: #ccc;
        font-size: 2rem;
        margin: 0 2rem;
        width: 80%;
        text-align: center;
        display: inline-block;
        strong{
          font-weight: bold;
          font-size: 2.1rem;
        }
      }
      span{
        margin-left: -1rem;
      }
    }  
    span{
      font-size: 1.5rem;
      color: #606060;
    }    
  }
  .perfil{
    width: 100%;
    height: 100%;
    max-width: 100rem;
    display: flex;
    flex-direction: column;
    h3{
      color: #fff;
      font-size: 2.5rem;
      flex: 100%;
      margin: 2.5rem 55rem 2.5rem 0;
    }
    .tituloDoPerfil{
      flex: 100%;
      display: flex;
      font-size: 3rem;
      text-align: center;
      justify-content: space-around;
      align-items: center;
    }
    .circulo{
      flex: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .circuloDeProgresso{
        @for $i from 0 through 100{
          $deg: 90deg + (3.6 * $i);          
            
          &--#{$i}{
            $color: if($i < 51, #444, #e61919);
            $direction: if($i < 51, right, left);           
  
            background: linear-gradient(to #{$direction}, #{$color} 50%, transparent 50%, transparent),
            linear-gradient(#{$deg}, #e61919 50%, #444 50%)          
            ; 
            
            &::after{
              display: none;
              content: quote("#{$i}%");
            }
  
            &::before{
              content: quote("#{$i}%");
            }

            &:hover{
              $color: if($i < 51, #555, #c00);

              background: linear-gradient(to #{$direction}, #{$color} 50%, transparent 50%, transparent),
              linear-gradient(#{$deg}, #c00 50%, #555 50%);

              &::before{
                display: none;
              }
              &::after{
                display: inline-flex;
              }
            }
          }
        }

        border-radius: 50%;
        display: block;      
        width: 10rem;
        height: 10rem;
        font-size: 2rem;
        transition: all 1s ease;
  
        &::before{
          background: #333;
          border-radius: 50%;
          transform: scale(0.8);
          font-size: 200%;
          display: inline-flex;
          height: 100%;
          width: 100%;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .a,.b,.c,.d,.e{
      &::after{
        background: #333;
        color: map-get($map: $colors, $key: branco);
        border-radius: 50%;
        transform: scale(0.8);
        font-size: 200%;
        display: inline-flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
      }
    }   
  }
  // .fotoCarrossel{
  //   display: none;
  //   flex: 100%;
  //   flex-direction: column;
  //   margin-top: 1rem;
  //   height: 100%;
  //   min-height: 20rem;
  //   width: 100%;    
  //   justify-content: space-around;
  //   align-items: center;
  //   border-bottom: 2px solid #606060;
  //   border-top: 2px solid #606060;
  //   .fotoContainer{
  //     width: 100%;
  //     flex: 100%;
  //     display: flex;
  //     align-items: center;
  //     justify-content: space-around;
  //     .fotoPai{
  //       overflow: hidden;
  //       border: 2px solid #707070;
  //       border-radius: 1.5rem;
  //       a{
  //         cursor: pointer;
  //         img{
  //           width: 20rem;
  //           transition: all .5s ease;
  //           &:hover{
  //             transform: scale(1.06);
  //           }
  //         }
  //       }          
  //     }       
  //   }
  //   .decorFoto{
  //     flex: 100%;
  //     display: flex;
  //     width: 100%;
  //     justify-content: space-around;
  //     align-items: center;
  //     max-height: 2rem;
  //     margin: .5rem 0;
  //     .decor{        
  //       margin: 3rem 0;
  //       padding: .8rem;
  //       border: 2px solid #707070;
  //       width: 1rem;
  //       height: 1rem;
  //       border-radius: 30%;
  //     }
  //   }    
  // }
}
